body {
  background-color: hsl(229, 57%, 11%);
  width: 1440px;
  text-align: center;
  color: #fff;
  font-size: 14px;
  font-family: 'Raleway', sans-serif;
  margin: 0;
}

p {
  text-align: left;
  font-weight: 400;
}

h5 {
  display: inline;
}

.span-two {
  font-weight: 400;
  color: hsl(0, 0%, 0%);
}

.span-three {
  font-size: 8px;
  padding-right: 10px;
}

.span-three:hover {
  color: red;
}

.one {
  margin-right: 230px;
}

.first {
  position: absolute;
  background-color: hsl(228, 56%, 26%);
  padding: 20px 100px 20px 20px;
  border-radius: 10px 60px 10px 10px;
  top: 170px;
  left: 380px;
}

.second {
  position: absolute;
  background-color: hsl(228, 56%, 26%);
  padding: 5px 30px 10px 20px;
  border-radius: 10px;
  top: 220px;
  left: 650px;
}

.para {
  margin-bottom: 20px;
}

.logo {
  display: block;
  width: 100px;
  height: 30px;
  margin-bottom: 20px;
}

.message {
  color: hsl(229, 7%, 55%);
  font-weight: bold;
  background-color: #fff;
  position: absolute;
  top: 190px;
  left: 890px;
  border-radius: 5px 5px 0 5px;
  padding-left: 20px;
}

.message:after {
  content: ' ';
  width: 0;
  height: 0;
  border-top: 15px solid #ffff;
  border-right: 0 solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 15px solid transparent;
  position: absolute;
  left: 83%;
  top: 100%;
}

.in {
  padding: 10px;
  border-radius: 5px;
  background-color: hsl(229, 57%, 11%);
}

.in:hover {
  background-color: hsl(100, 100%, 100%);
}

.third {
  width: 100%;
  height: 30%;
  margin-top: 200px;
}

.div-background {
  width: 100%;
  height: 30%;
  padding-top: 50px;
}

.gradient {
  background: linear-gradient(hsl(6, 100%, 80%), hsl(335, 100%, 65%));
  padding: 5px 220px 5px 5px;
  border-radius: 10px;
}

.empty {
  position: absolute;
  padding: 2px 80px 2px 2px;
  background-color: hsl(229, 57%, 11%);
  border-radius: 10px;
  top: 260px;
  left: 670px;
}

.grid {
  position: absolute;
  left: 5px;
  width: 70px;
  height: 70px;
}

@media (max-width:375px) {
  body {
    background-color: hsl(229, 57%, 11%);
    margin: 0;
    padding: 0;
    max-height: 300px;
  }

  .third {
    width: 100%;
    height: 100%;
    margin: 0;
  }

  .div-background {
    height: 815px;
    padding: 0;
  }

  .first {
    position: absolute;
    background-color: hsl(228, 56%, 26%);
    padding: 20px 175px 20px 20px;
    border-radius: 10px 60px 10px 10px;
    top: 200px;
    left: 380px;
  }

  .in {
    padding: 3px;
    margin: 4px;
    border-radius: 5px;
    background-color: hsl(229, 57%, 11%);
  }

  .logo {
    display: block;
    width: 150px;
    height: 35px;
    margin-bottom: 20px;
  }

  .second {
    position: absolute;
    background-color: hsl(228, 56%, 26%);
    padding: 5px 75px 30px 20px;
    border-radius: 10px;
    top: 400px;
    left: 380px;
  }

  .one {
    margin-right: 240px;
  }

  .gradient {
    background: linear-gradient(hsl(6, 100%, 80%), hsl(335, 100%, 65%));
    padding: 5px 220px 5px 5px;
    border-radius: 10px;
  }

  .empty {
    position: absolute;
    padding: 2px 80px 2px 2px;
    background-color: hsl(229, 57%, 11%);
    border-radius: 10px;
    top: 440px;
    left: 400px;
  }

  .message {
    color: hsl(229, 7%, 55%);
    font-weight: bold;
    background-color: #fff;
    position: fixed;
    top: 500px;
    left: 500px;
    border: 19px;
    padding-left: 20px;
  }

  .message:after {
    border: 0;
  }

  .span-two {
    font-size: 20px;
    color: hsl(0, 0%, 0%);
  }

}
